body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    background: linear-gradient(to bottom right, #3498db, #1abc9c);
    text-align: center;
}

.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.card-header {
    background-color: #3498db;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin: 15px 0;
}

label {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

input {
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    transition: border-color 0.2s;
}

input:focus {
    border-color: #3498db;
}

.custom-control-label {
    color: #333;
    font-weight: 600;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: #1abc9c;
}

.bg-login-image {
    background-image: url('/static/log/img/musulman.png');
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

hr {
    margin: 2rem 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}